@model movierev.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<section id="hero" class="d-flex align-items-center justify-content-center" style='background-image: url("/Content/assets/img/hero-bg.jpg");'>
    <div class="container" data-aos="fade-up">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })


            <h1 class="mb-5">@ViewBag.Title<span>.</span></h1>


            <div class="form-group" style="color:white">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" style="color:white">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" style="color:white">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" style="color:white">
                <div class="col-md-12 mx-auto">
                    <input type="submit" value="Register" class="btn get-started-btn mx-auto" style="color:white; width:300px; height:40px; border:2px solid #ffc451; font-weight:bold
" />
                </div>
            </div>
   
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</section>