@model movierev.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<section id="hero" class="d-flex align-items-center justify-content-center" style='background-image: url("/Content/assets/img/hero-bg.jpg");'>
    <div class="container" data-aos="fade-up">

        <h1 class="mb-5">@ViewBag.Title<span>.</span></h1>
        <div class="row">
            <div class="col-md-8 mx-auto" style="color:white;font-size:16px">


                <h2>@ViewBag.Title.</h2>

                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" style="color:white">
                        <div class="col-md-12 mx-auto">
                            <input type="submit" value="Change password" class="btn get-started-btn mx-auto" style="color:white; width:300px; height:40px; border:2px solid #ffc451; font-weight:bold
" />
                        </div>
                    </div>

                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

            </div>
        </div>
    </div>
</section>